.banner {
  background: darkgray;
}

.innerbanner {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactlogo {
  display: block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: auto;
  height: auto;
  margin: 1rem;
}

@media (min-width: 320px) and (max-width: 800px) {
  .contactlogo {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  .innerbanner {
    padding-top: 0rem;
  }
}
