.panel {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100vw;
}

.innerpanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.projdetails {
  width: 475px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .innerpanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projdetails {
    max-width: 300px;
    font-size: 0.85rem;
  }
}
