.panel {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: row;
}

.innerpanel {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.projdetails {
  width: 575px;
  /*height: 500px; */
}
